.App{
  background:#cccccc;
}
.imgContainer{
  background: #cccccc8f;
  margin: 15px;
  float: left;
  padding: 15px;
}
.card{
  margin-bottom:10px;
}

.filterContainer h6{
  text-align:center;
  border-bottom: 1px solid #ccc;
  padding-bottom:5px;
}
.filterContainer ul{
  padding-left: 0;
}
.filterContainer ul li{
  list-style: none;
  margin-left: 15px;
  margin-bottom: 10px;
  display: inline-block;
}
.btn-primary {
    color: #000;
    background-color: #b5da8a !important;
    border-color: #b5da8a !important;
}
.card-title{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}